<div class="container p-2 bd-highlight d-flex justify-content-center">
  <div class="card">
    <div class="card-header">
    Your home
    </div>
  <div class="card-body">
    <h5 class="card-title"><%= @home.name %></h5>
    <%= link_to "back to homes", homes_path, class: "btn btn-warning" %>
  </div>
</div>
</div>
